<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Phoxy.cloud · Espace client</title>
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    li a svg {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  </style>    
<!-- Custom styles for this template -->
<link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
    
{% include 'partials/header.html' %}

<div class="container-fluid">
  <div class="row">

    {% include 'partials/navbar.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Admin | Créditer un utilisateur</h1>
      </div>

      <div class="row">
        <div class="col-3">
          <select class="form-select" id="username">
            <option selected>Utilisateur..</option>
            {% for user in account %}
            <option value="{{ user['username'] }}">{{ user['username'] }} ({{ user['balance'] }}€)</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-3">
          <input type="number" class="form-control" placeholder="Nombre de crédit ?" id="amount">
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary" onclick="add_credit()">Créditer</button>
        </div>
      </div>

    </main>

  </div>
</div>

  {% include 'partials/script.html' %}

  <script type="text/javascript">


    $( ".ts" ).each(function( index ) {
      $(this).text(moment.unix($( this ).text()).format("DD/MM/YYYY HH:mm"));
    });

    function add_credit() {
      let amount = $('#amount').val();
      let username = $('#username').val();

      console.log(username);
      
      $.post( "/admin/api/add_credit/", { amount: amount, username: username })
        .done(function( data ) {
          swal("Crédit ajouté :)", {
            icon: "success",
          }).then(() => {
            location.reload();
          });
        });
    }
  </script>
</body>
</html>
