<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Phoxy.cloud | IP 4G proxy Français</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Proxy 4G rotatif français à prix compétitif. Rotation automatique, manuel ou par API. Réservation de carte sim privé pour des IP 100% clean. Éviter les restrictions et le captcha à répétition." />
  <meta name="keywords" content="proxy, 4g, http, socks4, socks5" />
  <!-- favicon -->
  <link rel="shortcut icon" href="/landing/images/favicon.ico">
  <!-- Bootstrap -->
  <link href="/landing/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- tobii css -->
  <link href="/landing/css/tobii.min.css" rel="stylesheet" type="text/css" />
  <!-- Icons -->
  <link href="/landing/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
  <!-- Main Css -->
  <link href="/landing/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
  <link href="/landing/css/colors/default.css" rel="stylesheet" id="color-opt">

</head>

<body>
  <!-- Navbar STart -->
  <header id="topnav" class="defaultscroll sticky">
    <div class="container">
      <!-- Logo container-->
      <a class="logo" href="index.html">
        <img src="/img/logo.svg" height="33" class="logo-light-mode" alt="Phoxy cloud logo">
        <img src="/img/logo.svg" height="33" class="logo-dark-mode" alt="Phoxy cloud logo">
      </a>
      <!-- Logo End -->
      <div class="menu-extras">
        <div class="menu-item">
          <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
        </div>
      </div>
      <div id="navigation">
        <!-- Navigation Menu-->   
        <ul class="navigation-menu" style="float: right;">
          <li><a href="/" class="sub-menu-item">Accueil</a></li>
          <li><a href="/connexion" target="_blank" class="sub-menu-item">Connexion</a></li>
          <li><a href="/inscription" target="_blank" class="sub-menu-item">Inscription</a></li>
          <li><a href="https://discord.gg/yJfpvByMcc" target="_blank" class="sub-menu-item">Discord</a></li>
        </ul><!--end navigation menu-->
      </div><!--end navigation-->
    </div><!--end container-->
  </header><!--end header-->
  <!-- Navbar End -->

  <!-- Start Hero -->
  <section class="bg-half-170 bg-light d-table w-100" style="background: url('/landing/images/real/build.png') bottom no-repeat;">
    <div class="container">
      <div class="row align-items-center mt-5">
        <div class="col-xl-8 col-lg-7 col-md-6">
          <div class="title-heading">
            <h4 class="heading my-3">Fournisseur de proxy<br><b>4G français</b> rotatif.</h4>
            <p class="para-desc text-muted">Anonymisez votre traffic internet et évitez les captcha grace a nos adresses IP blanches comme neige !</p>

            <div class="mt-4 pt-2">
              <a href="javascript:void(0)" class="btn btn-primary m-1">Voir nos tarifs</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <img src="/img/undraw_connected_world_wuay.svg" style="width:100%"/>
        </div>
    </div>
  </section><!--end section-->
  <!-- End Hero -->

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h4 class="title mt-3 mb-4">Que proposons-nous ?</h4>
            <p class="text-muted para-desc mx-auto mb-0">Le premier service de proxy 4G <span class="text-primary fw-bold">made in France</span>, voyez nos fonctionnalités <i class="uil uil-arrow-down d-block rounded h3 mb-0"></i></p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="card border-0 text-center features feature-primary feature-clean rounded p-4">
            <div class="icons text-center mx-auto">
              <i class="uil uil-globe d-block rounded h3 mb-0"></i>
            </div>

            <div class="card-body p-0 mt-4">
              <h5>IP Française</h5>
              <p class="text-muted mb-0">Notre infrastructure est installée sur le territoire français et nos cartes sim sont 100% française.</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="card border-0 text-center features feature-primary feature-clean rounded p-4">
            <div class="icons text-center mx-auto">
              <i class="uil uil-refresh d-block rounded h3 mb-0"></i>
            </div>

            <div class="card-body p-0 mt-4">
              <h5>Rotation 5 minutes</h5>
              <p class="text-muted mb-0">Vous pouvez activer la rotation automatique afin de changer l'ip du proxy toutes les 5 minutes ou manuellement.</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="card border-0 text-center features feature-primary feature-clean rounded p-4">
            <div class="icons text-center mx-auto">
              <i class="uil uil-shield-check d-block rounded h3 mb-0"></i>
            </div>

            <div class="card-body p-0 mt-4">
              <h5>Non blacklisté</h5>
              <p class="text-muted mb-0">Les IP 4G ne sont que très rarement blacklisté, c'est pourquoi nos ip sont prête pour tout type d'utilisation.</p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <img src="/img/undraw_world_re_768g.svg" class="img-fluid" alt="Illustration localisation proxy ip">
        </div><!--end col-->

        <div class="col-lg-7 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
          <div class="ms-lg-5">
            <div class="section-title mb-3">
              <span class="badge rounded-pill bg-soft-primary">Comment utiliser un proxy ?</span>
              <h4 class="title my-3">Configuration sur Firefox</h4>
              <p class="text-muted para-desc">Pour naviguer sur Internet via nos proxy, nous vous conseillons d'utiliser Firefox. Voici comment le configurer.</p>

              <p class="text-muted para-desc" style="text-align: justify;">Cliquez sur l'icon <b><i class="uil uil-bars align-middle"></i></b> en haut a droite de Firefox puis <b>paramètres</b>. Tapez <b>proxy</b> dans le champ de recherche en haut a droite pour faire apparetre le bonton <b>paramètres..</b> réseau. Cochez la case <b>Configuration manuelle du proxy</b> et <b>Utiliser également ce proxy pour HTTPS</b>, puis entrez <b>l'ip</b> et le <b>port</b> de votre proxy dans <b>Proxy HTTP et HTTPS</b>.</p>

              <p class="text-muted para-desc mb-0" style="text-align: justify;">Vous pouvez commencer à naviguer sur Internet, un pop-up apparaîtra pour vous demander d'entrer le <b>nom d'utilisateur</b> et le <b>mot de passe</b> du proxy.</p>
            </div>
            <!--
            <div class="mt-3">
              <a href="https://1.envato.market/landrick" target="_blank" class="btn btn-primary m-1">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
              <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1 lightbox"><i data-feather="video" class="icons"></i></a><span class="fw-bold text-uppercase small align-middle ms-1">Watch Now</span>
            </div>
            -->
          </div>
        </div>
      </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-2 pb-2">
            <h4 class="title mb-4">Principales caractéristiques</h4>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="bar-chart" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">10 à 50 Mbps</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="refresh-cw" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">IP Rotative</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="check-circle" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">Réseau SFR fiable</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="life-buoy" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">Support discord</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="globe" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">Http(s) / socks4 / socks5</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="shield" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">Chiffré & sécurisé</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="code" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">API gratuite</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="map-pin" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">IP 100% française</h4>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 mt-4 pt-2">
          <div class="d-flex features feature-primary key-feature align-items-center p-3 rounded shadow">
            <div class="icon text-center rounded-circle me-3">
              <i data-feather="percent" class="fea icon-ex-md"></i>
            </div>
            <div class="flex-1">
              <h4 class="title mb-0">Prix imbatable !</h4>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->

  <!-- Footer Start -->
  <footer class="footer">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-py-60 footer-border">
            <div class="row">
              <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="#" class="logo-footer">
                  <img src="/img/logo.svg" height="24" alt="Logo phoxy cloud footer">
                </a>
                <p class="mt-4">Proxy 4G rotatif français à prix compétitif. Rotation automatique, manuel ou par API. Réservation de carte sim privé pour des IP 100% clean.</p>
                <!--
                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                  <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                </ul>-->
              </div><!--end col-->

              <!--
              <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="footer-head">Company</h5>
                <ul class="list-unstyled footer-list mt-4">
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About us</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Services</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Team</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Pricing</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Project</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Careers</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Blog</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Login</a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="footer-head">Usefull Links</h5>
                <ul class="list-unstyled footer-list mt-4">
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Documentation</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Changelog</a></li>
                  <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Components</a></li>
                </ul>
              </div>
              -->
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->

    <div class="footer-py-30 footer-bar">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="text-sm-start">
              <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Phoxy.cloud</p>
            </div>
          </div><!--end col-->

          
        </div><!--end row-->
      </div><!--end container-->
    </div>
  </footer><!--end footer-->
  <!-- Footer End -->


  <!-- Back to top -->
  <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
  <!-- Back to top -->

  <!-- javascript -->
  <script src="/landing/js/bootstrap.bundle.min.js"></script>
  <!-- Icons -->
  <script src="/landing/js/feather.min.js"></script>
  <!-- tobii js -->
  <script src="/landing/js/tobii.min.js "></script>
  <!-- Main Js -->
  <script src="/landing/js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
  <script src="/landing/js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="/landing/js/custom.js"></script>
</body>
</html>